@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); /*fuente letra*/

* {
    padding: 0;/*reset*/
    margin: 0;
}

img{
    width: 300px;
    height: 350px;
    border-radius: 20px;
    margin-bottom: 18%;
    transition: transform 0.5s ease;/*Tiempo transición*/
}

img:hover{
    transform: scale(1.2);/*escala imagen*/
}
body {
    background-color: rgb(16, 0, 46);
    box-sizing: border-box;
    height: 100vh;
    color: #F6F6F6;
}

.texto-destacado {
    color: rgb(246,196,69);
}
.texto-destacado-parrafo{
    color: rgb(228,95,43);
}
.presentacion {
    display: flex;/*alinear-element*/
    align-items: center;/*alinear centro*/
    margin: 12% 12%;
    justify-content: space-between;/*espacio entre elementos*/
}

.presentacion__contenido {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px; /*tamaño espacio filas*/
}
.presentacion_contenido_titulo{
    font-size: 36;
    font-family: "Krona One", sans-serif;
}
.presentacion_contenido_texto{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.presentacion__enlaces_subtitulo{
    font-family: 'Krona One', sans-serif;
    font-size: 24px;
    font-weight: 400px;
}

.presentacion__enlaces_link{
    width: 250px;/*ancho caja*/
    color: #F6F6F6;
    text-align: center;
    padding: 21.5px 0;/*espacio vertical*/
    font-size: 24px;
    font-weight: 600;/*anchura texto*/
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    border: 4px inset rgb(246, 196, 69);
    display: flex;
    justify-content: center;
    align-items: center;  
    gap: 10px;
}

.presentacion__enlaces_link:hover {
    background-color: rgba(29, 3, 78, 0.87);
    border: 4px inset rgb(228, 95, 43);
}

.bx{
    width: 60px;
    height: 60px;
}

footer{
    text-align: center;
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
}